<a href="https://colab.research.google.com/github/honggyeong/sw_project/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%8801(%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B0%9C%EC%9A%94)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 1. 파이썬 개발 환경 구축**  

* 파이썬의 특징   
  - 1990년 네덜란드 개발자 귀도 반 로썸이 개발한 프로그래밍 언어
  - 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성  
  - 인터프리터 언어: 한 번에 한 줄씩 코드가 실행되어 결과를 바로 확인할 수 있는 대화형 언어  
  - 간결한 코드, 높은 가독성, 다른 언어와 연결이 쉬움, 객체지향언어  
  - 다양한 라이브러리 제공(Numpy, Pandas...)  
  
* 구글 코랩(colab) 실행하기  
  - [구글 드라이브]-[새로만들기]-[더보기]-[Google Colaboratory]  
  - 설치가 안 된 경우: [더보기]-[연결할 앱 더보기]-코랩 추가(연결하기)  
* 파일 이름 변경: OOO.ipynb  
* 셀(Cell) 구분  
  1) 코드 셀(code Cell): 프로그래밍 언어를 작성하고 실행하는 영역  
  2) 텍스트 셀(Text Cell):코드에 대한 설명, 제목, 이미지 등을 작성할 수 있는 영역(문단 구분: 행 끝에 공백 2칸 입력)  
  
* 코드 실행 단축키  
  1) 셀 실행: Ctrl+Enter  
  2) 셀 실행 후 다음 셀로 이동: Alt+Enter  
  
* 코랩의 특징
  - 수정 내용은 구글 드라이브에 자동 저장(구글 계정 필요)  
  - 구글 드라이브(클라우드)에서 실행

* 파일 공유하기  
  - 사용자 및 그룹 추가: 이메일 입력(_________@gmail.com)  
  - 일반 액세스: 링크가 있는 모든 사용자/뷰어
  - [링크 복사]- 다른 창에 공유

* 파이썬에서 주석(설명) 처리: #,   /*  내용  */  
* 전체코드 실행: [런타임]-[모두 실행]

[실습1] 다음 행에 텍스트 셀을 만들고 파이썬 언어의 장점과 단점을 요약해서 적어보자.

장점:쉽고 간결한 문법, 무료로 이용 가능, 직관적이고 가독성이 뛰어남, 동적 타이핑, 풍부한 라이브러리, 빠른 개발속도, 다양한 운영 체제에서 실행 가능. 인공지능, 데이터분석, 시각화, 영상처리, 웹, 게임 등 다양한 분야의 응용프로그램을 빠르게 개발<br>
주피터노트북, 파이참, 서브라임 텍스트 등 다양한 개발 환경.

단점:느린 연산 속도, 모바일 기기에서 활용이 어려움

In [ ]:
print("hello world")   #따옴표 안에 hellp world를 출력

hello world

In [ ]:
print(123)

123

In [ ]:
print(type(123))

<class 'int'>

In [ ]:
print(123.34)

123.34

In [ ]:
print("123")

123

In [ ]:
print(type("123"))

<class 'str'>

In [ ]:
print(type(123.34))

<class 'float'>

In [ ]:
print(파이썬)

NameError: name '파이썬' is not defined

In [ ]:
print("파이썬")

파이썬

In [ ]:
print("아빠가"+"방에"+"들어가셨어")

아빠가방에들어가셨어

In [ ]:
print("아빠가","방에","들어가셨어")

아빠가 방에 들어가셨어

In [ ]:
print(20+24)

44

In [ ]:
print("20+44")

20+44

In [ ]:
print("20"+"24")

2024

In [ ]:
print(20.1, 24)

20.1 24

In [ ]:
print(20+"파이선")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(20, "파이선")

20 파이선

In [ ]:
a=10
b="가나다"
print(a)
print(b)
a = a + 12
b = b + '마바사'
print(b)
print('최종 a 값은', a,'최종 b 값은', b,'이다.')

10
가나다
가나다마바사
최종 a 값은 22 최종 b 값은 가나다마바사 이다.

In [ ]:
name = '수빈'
height = 185.4
age = 23
hobby = 'dancing'
print(name, height, age, hobby)

수빈 185.4 23 dancing

In [ ]:
name = '수빈'
height = 185.4
age = 23
hobby = 'dancing'
print(name, ': 키는', height, '나이는', age, '취미는', hobby, '입니다!')
name = '선호'
height = 183
age = 19
hobby = '영화감상'
print(name, ': 키는', height, '나이는', age, '취미는', hobby, '입니다!')

수빈 : 키는 185.4 나이는 23 취미는 dancing 입니다!
선호 : 키는 183 나이는 19 취미는 영화감상 입니다!

In [ ]:
p = 3.141592
r=5
result = p*r**2
print('반지름 :', r, '\n원의 넓이 :', result)

반지름 : 5
원의 넓이 : 78.5398

In [ ]:
a = input('숫자 입력:')
print(a)

숫자 입력:12
12

In [ ]:
print('수빈이의 나이를 입력하세요.')
age1 = input()
age2 = input('선호의 나이를 입력하세요.')
sum = age1 + age2
print('두 사람 나이 합은 '+sum+'입니다.')
age1 = int(age1)
age2 = int(age2)
sum = age1 + age2
print('두 사람 나이 합은', sum, '입니다.')

수빈이의 나이를 입력하세요.
13
선호의 나이를 입력하세요.12
두 사람 나이 합은 1312입니다.
두 사람 나이 합은 25 입니다.

In [ ]:
p = 3.141592

r = int(input('원의 반지름은?'))

result = p*r**2

print('원의 넓이는', result,'입니다.')

원의 반지름은?5
원의 넓이는 78.5398 입니다.

In [ ]:
p = 3.141592

r = int(input('원의 반지름은?'))   #실수(소수점) 값을 입력해 보

result = p*r**2

print('원의 넓이는', result,'입니다.')

[실습2] 변수 a,b에 각각 50, 20을 저장하고 변수 c에 두개의 값을 저장 한후 출력하는 코드를 작성하여라.

[실습3] 변수 a,b에 각각 50, 20을 저장하고 변수 c에 두개의 값을 저장 한후 출력하는 코드를 작성하여라.